@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
/* Fonts used */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -10px -10px 0px -10px;
    padding: 6px 10%;
    background-color: #f8f8f8;
}
/* Style: top bar */

li, a {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #a5a5a5;
    text-decoration: none;
}
/* Style: navigation tabs */

button {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
/* Style: buttons */

p {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #707070;
    text-decoration: none;
}
/* Style: normal text */

.logo {
    width: 13%;
    height: 13%;
    cursor: pointer;
    position: absolute;
    left: 130px;
}
/* Style: logo */

.nav_links {
    list-style: none;
}
/* Style: navigation tabs */

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
/* Style: navigation tabs */

.nav_links li a {
    transition: all 0.3s ease 0s;
}
/* Style: navigation tabs */

.nav_links li a:hover {
    color: #c0c0c0;
}
/* Style: navigation tabs interactivity */

.loginbutton {
    width: 125px;
    margin-left: 20px;
    padding: 10px;
    background-color: #d74b6c;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/* Style: login button (top right corner) */

.loginbutton:hover {
    background-color: #bf4568;
}
/* Style: login button interactivity */

body {
    background-image: url("Signup2_background2.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
}
/* Style: Background image */

.signup {
    width: 350px;
    height: 520px;
    box-shadow: 0 0 3px 0 grey;
    background: #f8f8f8;
    padding: 0px;
    margin: 75px 0px 10px 120px;
    text-align: center;
    border-radius: 25px;
}
/* Style: sign up form */

.headline {
    height: 50px;
    padding: 50px 30px 50px 80px;
    margin: 100px 100px 150px 80px;
    background-color: #f3f3f3;
    border-radius: 25px;
}
/* Style: background colour of headline on top of sign up form */

.signup h1 {
    color: #494949;
    margin: 20px 0px 10px 0px;
    padding: 45px 0px 20px 0px ;
    font-family: "Asap", sans-serif;
}
/* Style: headline on top of sign up form */

.zipcode {
    margin: 10px;
    padding: 20px 0px 0px 25px;
    text-align: left;
    font-size: 16px;
}
/* Style: First sign up form request */

.zipcode-input {
    width: 280px;
    margin: -4px 0px 0px 0px;
    align-content: left;
    font-size: 16px;
    border: none;
}
/* Style: First sign up form input */

.email {
    margin: 10px;
    padding: 15px 0px 0px 25px;
    text-align: left;
    font-size: 16px;
}
/* Style: Second sign up form request */

.email-input {
    width: 280px;
    margin: -4px 0px 0px 0px;
    align-content: left;
    font-size: 16px;
    border: none;
}
/* Style: Second sign up form input */

.password {
    margin: 10px;
    padding: 15px 0px 0px 25px;
    text-align: left;
    font-size: 16px;
}
/* Style: Third sign up form request */

.password-input {
    width: 280px;
    margin: -4px 0px 0px 0px;
    align-content: left;
    font-size: 16px;
    border: none;
}
/* Style: Third sign up form input */

input[type="number"],
[type="email"],
[type="password"] {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
}
/* Style: User inputs */

.signupbutton {
    background-color: #d74b6c;
    margin-top: 40px;
}
/* Style: Sign up button */

.signupbutton:hover {
    background-color: #bf4568;
}
/* Style: Sign up button interactivity */

@media only screen and (max-width: 600px) {
    /* Style: Mobile version */
    header {
    margin: -10px -10px 0px -10px;
    padding: 2px 5%;;
    }

    li {
    opacity: 0;
    }

    .logo {
        width: 27%;
        height: 27%;
        left: 35px;
    }

    body {
        background-image: url("Signup2_background22.jpg");
        background-position: top;
    }

    .signup {
        width: 600px;
        height: 480px;
        text-align: center;
        margin: 260px 0px 0px -9px;
        border-radius: 0px;
    }
    
    .headline {
        background-color: #f8f8f8;
    }

    .signup h1 {
        padding: 24px 0px 0px 0px ;
    }
    
    .zipcode {
        margin-top: 5px;
        padding: 0px 0px 0px 60px;
        font-size: 18px;
    }
    
    .email {
        padding: 25px 0px 0px 60px;       
        font-size: 18px;
    }
    
    .password {
        padding: 25px 0px 0px 60px;     
        font-size: 18px;
    }
    
    input[type="number"],
    [type="email"],
    [type="password"] {
        padding: 8px;
    }

    .signupbutton {
        width: 42%;
        margin-top: 37px;
    }
}